header {
    padding: 20px;
    background-color: rgb(255, 185, 106);
    font-size: 40px;
    border-bottom-style: ridge;
    border-bottom-width: 1rem;
}

#title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 80px;
    color: rgb(47, 81, 121);
    margin: 20px;
    padding-left: 10px;
    /* display: relative;
    float: left;
    width: 500px; */
}

.map-container {
    padding: 20px;
}

/* @media (min-width: 500px) {
    #map {

    }
} */

#map {
    position: relative;
    /* width: 95%; */
    height: 500px;
    align-content: center; 
    margin: 40px 25px;
    border: 1px solid rgb(47, 81, 121);
    
}

main {
    background-image: url("./images/angele-kamp-NK19f93xX88-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

input.cityInput {
    border-radius: 15px;
}

input.cuisineInput {
    border-radius: 15px;
}

button.button.searchBtn {
    border-radius: 20px;
    background-color:  rgb(47, 81, 121)
}

.restName {
    font-size: 18px;
    font-weight: bold;
}

.results {
    float: left;
    margin-top: 10px;
}

.card.restaurant {
    height: 10%;
    border-radius: 20px;
    padding: 20px;
    border: 1px solid rgb(47, 81, 121);
}

.restaurant:hover {
    border: 2px solid  rgb(47, 81, 121);
}

.top5picks {
    color:  rgb(47, 81, 121);
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    margin: 20px auto;
    width: 200px;
    height: 40px;
    background: rgb(255, 185, 106);
    border-radius: 10px;
    border: 1px solid rgb(47, 81, 121);
}

.menu {
    line-height: 3;
}

.card.pastResults {
    height: 10%;
    border-radius: 20px;
    padding: 20px; 
    border: 1px solid rgb(47, 81, 121);
}

.bubble-pastResults {
	position: relative;
	background: white;
    border-radius: 2em; 
    border: 5px solid;
    border-color:  rgb(47, 81, 121);
    height: 300px;
    width: 550px;
    text-align: center;
    font-size: 30px;
    font-family: fantasy;
}

.restName {
    font-size: 35px;
    color:  rgb(47, 81, 121);
    font-family: 'Courier New', Courier, monospace;
}

p.bubble-pastResults:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: 44%;
    top: 213px;
    border: 70px solid;
    border-color: white transparent transparent white;
    z-index: 1;   
}

.bubble-pastResults:after {
	content: '';
	position: absolute;
    bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 80px solid transparent;
    border-top-color: white;
	border-bottom: 0; 
	border-left: 0; 
	margin-left: -40px;
    margin-bottom: -80px;
    border-color:  rgb(47, 81, 121) transparent transparent  rgb(47, 81, 121);
    /* z-index: -1;     */ 
}

.get-direction {
    margin-top: 5px;
    padding: 2px;
    width: 100px;
}

footer {
    background-color: rgb(255, 185, 106);
    /* height: 50px; */
    margin-bottom: 0px;
}

.contact {
    padding: 15px;
    font-size: 25px;
    color: rgb(47, 81, 121);
} 

/* .email {
    position: absolute;
}

.facebook {
    position: absolute;
    float: left;
    padding-left: 50px;
}

.instagram {
    position: absolute;
    padding-left: 100px;
} */

/* .clearfix::after {
    content: " ";
    display: block;
    clear: both;
} */
